alabaster==0.7.13
altgraph==0.17.4
aniso8601==10.0.0
babel==2.16.0
blinker==1.8.2
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
docutils==0.20.1
Flask==3.0.3
Flask-RESTful==0.3.10
idna==3.10
imagesize==1.4.1
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.5
MarkupSafe==2.1.5
packaging==24.2
pillow==10.4.0
Pygments==2.19.1
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2025.0
pyserial==3.5
python-dotenv==1.0.1
pytz==2025.1
requests==2.32.3
six==1.17.0
snowballstemmer==2.2.0
sockets==1.0.0
Sphinx==7.1.2
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
urllib3==2.2.3
waiting==1.5.0
Werkzeug==3.0.6
zipp==3.20.2
